<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ZZZ" value="https://nuget.pkg.github.com/OpenManufacturingPlatform/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <ZZZ>
      <add key="Username" value="ivomp" />
      <add key="ClearTextPassword" value="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" />
    </ZZZ>
  </packageSourceCredentials>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>