@inherits LayoutComponentBase

<PageTitle>Omp Hands-on UI</PageTitle>

<div class="page">

	<main>
		<div>			
			<table>
				<tr>
					<td>
						<NavLink class="nav-link" href="hands-on-view">
							<span class="oi oi-list-rich" aria-hidden="true"></span> Hands On View
						</NavLink>
					</td>
					<td>
						<NavLink class="nav-link" href="configuration">
							<span class="oi oi-list-rich" aria-hidden="true"></span> Configuration
						</NavLink>
					</td>
				</tr>
			</table>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
