<div class="top-row ps-3 navbar navbar-dark">
    <table>
        <tr>
            <td>
                 <NavLink class="nav-link" href="hands-on-view">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Hands On View
                </NavLink>
            </td>
            <td>
                 <NavLink class="nav-link" href="configuration">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Configuration
                </NavLink>
            </td>
        </tr>
    </table>
</div>

 
@*<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="telemetry">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Telemetry
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hands-on-view">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Hands On View
            </NavLink>
        </div>        
    </nav>
</div>*@

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
